body {
    padding: 20px;
    background: url('http://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/1122px-Wikipedia-logo-v2.svg.png') no-repeat fixed;
    background-position-x: center;
}

h1 {
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    color: black;
    text-shadow: rgb(220, 121, 42) -1px -2px 0.5em;
}

#searchText {
    cursor: auto;
    background: no-repeat scroll 100% 50%;
    padding: 5px;
    margin: 10px 0 20px 0;
    border-radius: 10px;
    width: 25em;
    max-width: 75%;
}
#searchIcon {
    position: relative;
    left: -35px;
    top: 5px;
}

#searchText:focus {
    outline-style: none;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0 0.25em 0.25em rgba(220, 121, 42, .50);
}

#luckyButton {
    padding: 4px 20px;
    /*give the background a gradient*/
    background:#ffae00; /*fallback for browsers that don't support gradients*/
    background: -webkit-linear-gradient(top, #ffae00, #d67600);
    background: -moz-linear-gradient(top, #ffae00, #d67600);
    background: -o-linear-gradient(top, #ffae00, #d67600);
    background: linear-gradient(top, #ffae00, #d67600);
    border:0.1875em outset #dad9d8;
    /*style the text*/


    font-size:1.5em;

    color:#fff;
    text-shadow: 0px 1px 10px #000;
    /*add to small curve to the corners of the button*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /*give the button a drop shadow*/
    -webkit-box-shadow: rgba(0, 0, 0, .55) 0 1px 6px;
    -moz-box-shadow: rgba(0, 0, 0, .55) 0 1px 6px;
    box-shadow: rgba(0, 0, 0, .55) 0 1px 6px;
}
/****NOW STYLE THE BUTTON'S HOVER STATE***/
#luckyButton:hover, #luckyButton:focus {
    border:3px solid #dad9d8;
    text-decoration: none;
}